<div class="container" style="margin-top: 80px;">
  <h1> Notice d'utilisation de cette mini application </h1>
  En fonction de votre role, certaiines infos vous seront visibles et d'autres non. Mieux, elles vous seront interdites. Vous
  devez etre connecte pour utiliser l'application ou creer un nouveu compte.
  <div class="row">
    <div class="col-5" style="border: 3px dashed purple; margin-bottom: 15px">
      <h2> Creer Sondages </h2>
      <p> Pour creer un sondage, procedez comme suit: </p>
      <ol>
        <li> Creer des <a routerLink="/dates/create"> dates </a>. Seuls un <em> admin ou un createur (role) </em>
          peuvent faire cette action </li>
        <li> Ensuite, creer votre <a routerLink="surveys/create"></a> sondage en renseignant les info obligatoires.
          Encore </li>
        <li> une fois, seuls <em> un admin ou un createur </em> peuevnt le faire </li>
        <li> La reunion associee au sondage est cree automatiquement </li>
        <li> Vous etes notifie de la reussite ou de l'echec de la creation de votre sondage. </li>
      </ol>
    </div>

    <div class="col-5" style="border: 3px dashed #1A237E; margin-left: 15px; margin-bottom: 15px;">
      <h2> Participer a un sondage </h2>
      <p> Pour participer a un sondage, procedez comme suit: </p>
      <ol>
        <li> Aller sur la page de tous les <a routerLink="/surveys"> sondages </a></li>
        <li> Cliquer sur le lien <em> 'Je participe' ou sur l'action 'Partiicper' </em> </li>
        <li> Choisissez les plages horaires qui vous conviennet et validez. </li>
        <li> Vous etes notifie de la reussite ou de l'echec de la prise en compte de votre participation] </li>
        <li> <strong> Note: </strong> Vous ne pouvez pas participer au meme sondage plus d'une fois. Essayez et vous
          verrez de quoi je me chauffe !!</li>
      </ol>

    </div>
  </div>

  <div class="row">
    <div class="col-5" style="border: 3px dashed #E65100">
      <h2> Valider un sondage </h2>
      <p> Pour valider un sondage, procedez comme suit: </p>
      <ol>
        <li> Aller sur la page de tous les <a routerLink="/surveys"> sondages </a> </li>
        <li> Cliquer sur le lien <em> 'View ou Voir'</em>  </li>
        <li> Dans le menu de gacuhe, cliquer sur 'Valider/Confirmer' (visible lorsque le sondage n'est pas encore validé) </li>
        <li> Choisisez LA PLAGE HORAIRE A RETENNIR pour ce sondage/reunion et validez </li>
        <li> Vous etes notifie de la reussite ou de l'echec de la validation de de sondage</li>
        <li> <strong> Note: </strong> Seul un <em> admin </em> peut effectuer cette validatoion</li>
      </ol>
    </div>

    <div class="col-5" style="border: 3px dashed #D81B60; margin-left: 15px">
      <h2> Renseigner mes preferences alimentaires et allergies </h2>
      <ol>
        <li> Lorsque le sonda est validé, um mail est envoye a tous ceux qui avaient choisi la date qui a ete retenue</li>
        <li> Dans ce mail, vous trouverez un lien pour renseigner ces infos </li>
        <li> Connectez-vous, renseignez ces infos et validez </li>
        <li> Vous etes notifie de la reussite ou de l'echec de la prise en compte de votre participation</li>
        <li> <strong> Note: </strong> Vous ne pouvez pas renseigner ces info plus d'une fois ppur la meme reunion. Essayez et vous verrez de quoi je me chauffe !!</li>
      </ol>
    </div>
  </div>
</div>