<div class="container-fluid" id="main_container">
  <h3 *ngIf="meetings.length === 0"> Bravo ! vous n'avez manqué encore aucune reunion</h3>

  <meetings-list-wrapper [meetings]="meetings" [data]="data" (showPresent)="showPresents($event)"
    (showAbsent)="showAbsents($event)">
  </meetings-list-wrapper>


</div>