<ng-container *ngIf="survey">
  <div id="welcome">
    <h3> Bienvenue au sondage {{survey.name}} </h3>
    Veuillez selectionner les plages horaires qui vous conviennent pour la reunion <strong> {{survey.meeting.title}}
    </strong> à <em> {{survey.meeting.officeAddress}} </em>
  </div>
</ng-container>

<table class="table table-bordered" id="table">
  <tbody>
    <tr>
      <td> <label for="" class="days"> Lundi </label> </td>
      <single-table-data [surveyDates]="surveyDates" [day]="'MONDAY'" (dataToEmit)="addOrRemoveTimeSlots($event)">
      </single-table-data>
    </tr>

    <tr>
      <td> <label for="" class="days"> Mardi </label> </td>
      <single-table-data [surveyDates]="surveyDates" [day]="'TUESDAY'" (dataToEmit)="addOrRemoveTimeSlots($event)">
      </single-table-data>
    </tr>

    <tr>
      <td> <label for="" class="days"> Mercredi </label> </td>
      <single-table-data [surveyDates]="surveyDates" [day]="'WEDNESDAY'" (dataToEmit)="addOrRemoveTimeSlots($event)">
      </single-table-data>
    </tr>

    <tr>
      <td> <label for="" class="days"> Jeudi </label> </td>
      <single-table-data [surveyDates]="surveyDates" [day]="'THURSDAY'" (dataToEmit)="addOrRemoveTimeSlots($event)">
      </single-table-data>
    </tr>

    <tr>
      <td> <label for="" class="days"> Vendredi </label> </td>
      <single-table-data [surveyDates]="surveyDates" [day]="'FRIDAY'" (dataToEmit)="addOrRemoveTimeSlots($event)">
      </single-table-data>
    </tr>
  </tbody>
</table>

<button class="btn btn-info" id="submit_btn" (click)="sendChoices()"> Participer </button>



<!--
<ng-container *ngIf="surveyDates">
  <div class="row">
    <div class="col-2" *ngFor="let day of filteredDays()" id="main_cols">
      <single-date-column [dates]="filterDates(day)"></single-date-column>
    </div>
  </div>
</ng-container>
-->