<table class="table table-hover" id="table">
  <thead>
    <tr>
      <th scope="col" *ngFor="let h of headers"> {{ h }} </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of data">
      <td *ngFor="let f of fields"> {{ d[f] }} </td>
      <td> <a (click)="showMore(d.id)"> <i class="fa fa-eye" aria-hidden="true"></i></a> </td>
    </tr>
  </tbody>
</table>