<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">Users</h3>
                </div>
                <!-- <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>-->
                <table class="table">
                    <thead>
                        <tr class="filters">
                            <!--si possi faire le Js-->
                            <th><input type="text" class="form-control" placeholder="First Name " disabled></th>
                            <th><input type="text" class="form-control" placeholder="Last Name" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Email" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Roles" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Action" disabled></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of setUsers">
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.roles | formatRoles}}</td>
                            <td>
                                <a [routerLink]="['update-user', user.id]"
                                    class="btn btn-primary">Update</a>&nbsp;&nbsp;
                                <input (click)="deleteUser()" type="button" class="btn btn-danger" value="Delete">

                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>