<div class="container-fluid" id="main_container">
  <meetings-list-wrapper 
  [meetings]="meetings" [data]="data" (showPresent)="showPresents($event)" 
  (showAbsent)="showAbsents($event)">
  </meetings-list-wrapper>
</div>