<ul class="list-group">
  <a *ngFor=" let l of list" class="list-group-item d-flex justify-content-between align-items-center"
      [routerLink]="[l.path]">
      {{l.text}}
    <span *ngIf="l.value" class="badge badge-warning badge-pill"> {{l.value}} </span>
  </a>
</ul>