<div class="container-fluid" id="main_container">
    <user-list-wrapper 
    [users]="users" [data]="data" (showRole)="showRoles($event)" 
    (showAllergy)="showAllergies($event)" (showAttendedMeeting)="showAttendedMeetings($event)"
    (showMissedMeeting)="showMissedMeetings($event)" (showSurvey)="showSurveys($event)">
    </user-list-wrapper>
</div>