<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow" *ngFor="let d of dates">
      <div class="divTableCell">
        <h5> {{ formatDate(d.date) }} </h5>
        <div *ngFor="let t of d.timeSlots" class="pretty p-icon p-round p-jelly">
          <input type="checkbox" />
          <div class="state p-success">
            <i class="icon mdi mdi-check"></i>
            <label>{{ formatTime(t) }} </label>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>