.row{
    /*background-color: #b71c1c; */
    display: table-row;
}

body{
    background-color: #b71c1c
}

#col{
    display: table-cell;
    border: 1px #b71c1c solid;
    padding: 3px 10px
}

/* div table */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 2px #b71c1c solid;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}