<table class="table table-hover" id="table">
  <thead>
    <tr>
      <th scope="col"> Date </th>
      <th scope="col"> Heure </th>
      <th scope="col"> Actions </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of participations">
      <th> {{ formatDate(p.participationDate) }} </th>
      <td> {{ formatTime(p.participationTime) }} </td>
      <td> <a (click)="viewMore(p.id)"> <i class="fa fa-eye" aria-hidden="true"></i></a></td>
    </tr>
  </tbody>
</table>