<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" id="main_nav_bar">
  <a class="navbar-brand" routerLink="/">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" *ngIf="loggedUser">
    <ul class="navbar-nav mr-auto">
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="nav-bar-dropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span style="color:white;"> <i class="fa fa-folder" aria-hidden="true"></i> Sondages </span>
          <span class="badge badge-warning badge-pill" *ngIf="loggedUser.createdSurveys">
            {{ loggedUser.createdSurveys.length }}
          </span>
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="nav-bar-dropdown">
          <a *ngIf="isCreator || isAdmin" class="dropdown-item" routerLink="/surveys/create">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Créer</a>
          <a class="dropdown-item" routerLink="/surveys"> <i class="fa fa-book" aria-hidden="true"></i>  Tous les sondages </a>
          <a class="dropdown-item" (click)="showUserSurveys()"> <i class="fa fa-folder-open" aria-hidden="true"></i>  Mes sondages </a>
          <a class="dropdown-item" (click)="showUserParticipations()"> <i class="fa fa-folder" aria-hidden="true"></i> Mes participations </a>
          <a class="dropdown-item" (click)="showUserAttendedMeetings()"> <i class="fa fa-meetup" aria-hidden="true"></i>  Reunions assistées </a>
          <a class="dropdown-item" (click)="showUserMissedMeetings()"> <i class="fa fa-meetup" aria-hidden="true"></i> Reunions manquées </a>
        </div>
      </li>

      <li ngbDropdown class="nav-item dropdown" *ngIf="isAdmin">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="nav-bar-dropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span style="color:white;"> <i class="fa fa-user" aria-hidden="true"></i> Utilisateurs </span>
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="nav-bar-dropdown">
          <a *ngIf="1 === 2" class="dropdown-item" routerLink="/users/create">Créer</a>
          <a class="dropdown-item" routerLink="/users"> <i class="fa fa-group" aria-hidden="true"></i> Gérer</a>
        </div>
      </li>

      <li ngbDropdown class="nav-item dropdown" *ngIf="isAdmin || isCreator">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="nav-bar-dropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span style="color:white;"> <i class="fa fa-calendar" aria-hidden="true"></i> Dates </span>
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="nav-bar-dropdown">
          <a class="dropdown-item" routerLink="/dates/create"> <i class="fa fa-plus-circle" aria-hidden="true"></i>  Créer</a>
          <a class="dropdown-item" routerLink="/dates"> <i class="fa fa-calendar" aria-hidden="true"></i> Gérer</a>
        </div>
      </li>

      <li ngbDropdown class="nav-item dropdown" *ngIf="isAdmin || isCreator">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="nav-bar-dropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span style="color:white;"> <i class="fa fa-clock-o" aria-hidden="true"></i> Plages Horaires </span>
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="nav-bar-dropdown">
          <a class="dropdown-item" routerLink="/time-slots"> <i class="fa fa-clock-o" aria-hidden="true"></i> Gérer</a>
        </div>
      </li>

      <li class="nav-item nav-link">
        <a routerLink="/about-app" style="color:white; text-decoration: none;"> <i class="fa fa-question-circle-o" aria-hidden="true"></i> A propos/Help </a>
      </li>

    </ul>

    <ul class="nav navbar-nav navbar-right" *ngIf="loggedUser">
      <li ngbDropdown class="nav-item dropdown"  >
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="nav-bar-dropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle" aria-hidden="true"></i> 
          <span style="color:white;"> {{loggedUser.firstName}} </span>
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="nav-bar-dropdown">
          <a class="dropdown-item" (click)="logout()">
              <i class="fa fa-sign-out" aria-hidden="true"></i> Se déconnecter </a>
        </div>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>