<div class="container-fluid" style="width: 100%;">
    <div class="to_center">
        <ngb-tabset #t="ngbTabset">
            <ngb-tab id="tab-selectbyid1" title="Se Connecter">
                <ng-template ngbTabContent>
                    <app-login></app-login>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="tab-selectbyid2">
                <ng-template ngbTabTitle> Creer un compte </ng-template>
                <ng-template ngbTabContent>
                    <app-create-account></app-create-account>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>

</div>