<div class="container-fluid" id="main_container">

  <h2> Vous avez assisté à {{meetings.length}} reunions </h2>
    <meetings-list-wrapper 
    [meetings]="meetings" [data]="data" (showPresent)="showPresents($event)" 
    (showAbsent)="showAbsents($event)">
    </meetings-list-wrapper>
  </div>
