<div class="main_container" style="margin-top: 80px;" *ngIf="loggedUser">
      <a *ngFor="let e of elements" class="list-group-item" routerLink="{{e.link}}">
        <span class="{{e.iClass}}" aria-hidden="true" style="font-size:30px;" [style.color]="e.iColor"></span>
        <span *ngIf="e.badge" class="badge" style="font-size: 15px;"> {{ e.badge }} </span>
        <label class="lay_left_menu_texts"> {{e.text}} </label>

    </a>
</div>

