#submit_button{
    float: right;
    width: 110px;
    margin-top: 20px;
    margin-right: -18px;
}


.row{
    margin-top: 15px;
}

.required_divs{
    margin-top: 7px;
    height: 40px;
    margin-left: 20px;
    color: red;
}
/*.forms{
    margin-left: 4px;
}*/