<form #form="ngForm" (ngSubmit)="login()" class="forms">

  <div class="form-group">
    <input type="email" name="email" class="form-control" id="email" placeholder="Email" required
      [(ngModel)]="loginData.email" #email="ngModel">
    <div *ngIf="email.errors?.required && email.touched" class="alert alert-danger">email requis </div>
  </div>

  <div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" id="password" id="password" placeholder="Password"
        required [(ngModel)]="loginData.password" #password="ngModel">
    </div>
    <div *ngIf="password.invalid && password.touched" class="required_divs">
      <div *ngIf="password.errors.required">
        Mot de passe est requis
      </div>
    </div>
  </div>

  <div class="text-center pt-4">
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Login</button>
  </div>

  <div class="text-center pt-2">
    <a class="btn btn-link text-primary" href="#">Forgot Your Password?</a>
  </div>
</form>