<div class="row">
  <div class="col-8" *ngIf="meetings.length">
    <table class="table table-hover" id="table">
      <thead>
        <tr>
          <th scope="col"> Libéllé </th>
          <th scope="col"> Date Retenue </th>
          <th scope="col"> Heure Retenue </th>
          <th scope="col"> Adresse </th>
          <th scope="col"> Présents </th>
          <th scope="col"> Absents </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of meetings">
          <th> {{ m.title }} </th>
          <td> {{ formatDate(m.date) }} </td>
          <td> {{ m.timeSlot }} </td>
          <th> {{ m.officeAddress }} </th>
          <td> <a (click)="showPresents(m.id)"> <i class="fa fa-eye" aria-hidden="true"></i></a></td>
          <td> <a (click)="showAbsents(m.id)"> <i class="fa fa-eye" aria-hidden="true"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4" id="left_table">
      <table-wrapper [headers]="headers" [fields]="fields" [data]="data" ></table-wrapper>
  </div>
</div>