<table class="table table-hover" id="table">
    <thead>
      <tr>
        <th scope="col"> Libéllé </th>
        <th scope="col"> Date </th>
        <th scope="col"> Statut</th>
        <th scope="col"> Actions </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of dates">
        <th> {{ d.name }} </th>
        <td> {{ formateDate(d.date) }} </td>
        <td> {{ formatStatus(d.active) }} </td>
        <td>
          <a [routerLink]="[d.id, 'details']"> View | </a>
          <ng-container *ngIf="isAdmin">
              <a *ngIf="d.active" [routerLink]="[d.id, 'update']"> Update | </a>
              <a *ngIf="d.active" class="btn btn-danger" (click)="deleteDate(d.id)"> Delete </a>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>