<div class="row">
  <div class="col-8">
    <table class="table table-hover" id="table">
      <thead>
        <tr>
          <th scope="col"> Prenom </th>
          <th scope="col"> Nom </th>
          <th scope="col"> Email </th>
          <th scope="col"> Roles </th>
          <th scope="col"> Allergies </th>
          <th scope="col"> Sondages créés </th>
          <th scope="col"> Reunions Assistées </th>
          <th scope="col"> Reunions Manquées </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users">
          <th> {{ u.firstName }} </th>
          <td> {{ u.lastName }} </td>
          <th> {{ u.email }} </th>
          <td> <a (click)="showRoles(u.id)"> <i class="fa fa-eye" aria-hidden="true"></i></a></td>
          <td> <a (click)="showAllergies(u.id)"> <i class="fa fa-eye" aria-hidden="true"></i></a></td>
          <td> <a (click)="showSurveys(u.id)"> <i class="fa fa-eye" aria-hidden="true"></i></a></td>
          <td> <a (click)="showAttendedMeetings(u.id)"> <i class="fa fa-eye" aria-hidden="true"></i></a></td>
          <td> <a (click)="showMissedMeetings(u.id)"> <i class="fa fa-eye" aria-hidden="true"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4" id="left_table">
      <table-wrapper [headers]="headers" [fields]="fields" [data]="data" ></table-wrapper>
  </div>
</div>