#main_row{
    margin-top: 80px;
}

#main_cols{
    float: left;
}

.days{
    font-weight: bold;   
}

#table{
    margin-top: 15px;
}

#welcome{
    margin-top: 80px;
}

#welcome h3{
    text-align: center;
}

#submit_btn{
    float: right;
}