<ng-container *ngIf="participations">
  <div id="welcome">
    <h3> Bienvenue a l'etape de validation de ce sondage </h3>
    Veuillez selectionner la plage horaire (une seule) qui convient pour la reunion. Cette date et cette plage horaire seront retenues
  </div>
</ng-container>

<table class="table table-bordered" id="table">
  <tbody>
    <tr>
      <td> <label for="" class="days"> Lundi </label> </td>
      <single-table-data [surveyDates]="customDates" [day]="'MONDAY'" [isCheckbox]="false" (dataToEmit)="updateSelectedTimeSlot($event)" >
      </single-table-data>
    </tr>

    <tr>
      <td> <label for="" class="days"> Mardi </label> </td>
      <single-table-data [surveyDates]="customDates" [day]="'TUESDAY'" [isCheckbox]="false" (dataToEmit)="updateSelectedTimeSlot($event)"> 
      </single-table-data>
    </tr>

    <tr>
      <td> <label for="" class="days"> Mercredi </label> </td>
      <single-table-data [surveyDates]="customDates" [day]="'WEDNESDAY'" [isCheckbox]="false" (dataToEmit)="updateSelectedTimeSlot($event)">
      </single-table-data>
    </tr>

    <tr>
      <td> <label for="" class="days"> Jeudi </label> </td>
      <single-table-data [surveyDates]="customDates" [day]="'THURSDAY'"  [isCheckbox]="false" (dataToEmit)="updateSelectedTimeSlot($event)">
      </single-table-data>
    </tr>

    <tr>
      <td> <label for="" class="days"> Vendredi </label> </td>
      <single-table-data [surveyDates]="customDates" [day]="'FRIDAY'" [isCheckbox]="false" (dataToEmit)="updateSelectedTimeSlot($event)">
      </single-table-data>
    </tr>
  </tbody>
</table>

<button class="btn btn-info" id="submit_btn" (click)="validateSurvey()"> Valider </button>

