<form class="forms" #form="ngForm" (ngSubmit)="createUserForm()">
    <div>
        <div class="form-group">
            <input type="text" name="firstName" id="firstName" class="form-control" placeholder="votre prenom" required
                [(ngModel)]="user.firstName" #firstName="ngModel">
        </div>
        <div *ngIf="firstName.invalid && firstName.touched" class="required_divs">
            <p *ngIf="firstName.errors.required"> requis! </p>
        </div>
    </div>

    <div>
        <div class="form-group">
            <input name="lastName" id="lastName" type="text" class="form-control " placeholder="votre nom" required
                [(ngModel)]="user.lastName" #lastName="ngModel">
        </div>
        <div *ngIf="lastName.invalid && lastName.touched" class="required_divs">
            <p *ngIf="lastName.errors.required"> requis! </p>
        </div>
    </div>


    <div>
        <div class="form-group">
            <input name="email" id="email" type="text" class="form-control " placeholder="abcde@fgh.com" required
                [(ngModel)]="user.email" #email="ngModel">
        </div>
        <div *ngIf="email.invalid && email.touched" class="required_divs">
            <p *ngIf="email.errors.required"> requis! </p>
        </div>
    </div>

    <div>
        <div class="form-group">
            <input name="password" id="password" type="password" minlength="8" class="form-control" placeholder="******"
                required [(ngModel)]="user.password" #password="ngModel">
        </div>
        <div *ngIf="password.invalid && password.touched " class="required_divs">
            <p *ngIf="password.errors.required"> requis! </p>
            <p *ngIf="password.errors.minlength"> au moins 8 caractères</p>
        </div>

    </div>
    <div>
        <div class="form-group">
            <input name="confirm_password" id="confirm_password" type="password" class="form-control " placeholder=""
                required [(ngModel)]="confirm_password" #confirmPassword="ngModel">
        </div>
        <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="required_divs">
            <p *ngIf="confirmPassword.errors.required"> ce champs requis! </p>

        </div>
        <div *ngIf="!match_password" class="required_divs">
            <p>!mot de pass différents</p>
        </div>
    </div>


    <div class="text-center pt-2 pb-1">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Register</button>
    </div>
</form>