.container-fluid{
    margin-top: 80px;
}

.top_div{
    border: 3px dashed green;
    text-align: center;
    height: 50px;
    margin-bottom: 15px;
    vertical-align: middle;
    line-height: 37px;
}