
<div class="container-fluid">

  <div *ngIf="survey?.status === 'VALIDATED'" class="top_div">
    Ce sondage a été validé pour la date <strong> {{ formatDate(survey.meeting.date) }} à {{ survey.meeting.timeSlot }} </strong>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <app-bs-list [list]="list"></app-bs-list>
    </div>
    <div class="col-sm-8">
      <div class="form-group row">
        <label for="" class="col-sm-3 col-form-label"> Libelle </label>
        <div class="col-sm-9">
          <input value="{{survey?.name}}" type="" class="form-control" id="title" placeholder="Libelle du Sondage">
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-3 col-form-label"> Statut </label>
        <div class="col-sm-9">
          <input value="{{survey?.status}}" type="text" class="form-control" id="status" placeholder="Statut">
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-3 col-form-label"> Date de creation </label>
        <div class="col-sm-9">
          <input value="{{formatDate(survey?.creationDate)}}" type="text" class="form-control" id="creation_date"
            placeholder="Date de creation">
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-3 col-form-label"> Heure de creation </label>
        <div class="col-sm-9">
          <input value="{{formatTime(survey?.creationTime)}}" type="text" class="form-control" id="creation_time"
            placeholder="Heure de creation">
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-3 col-form-label"> Lien </label>
        <div class="col-sm-9">
          <input value="{{survey?.link}}" type="text" class="form-control" id="link" placeholder="Lien">
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-3 col-form-label"> Titre Reunion </label>
        <div class="col-sm-9">
          <input value="{{survey?.meeting.title}}" type="text" class="form-control" id="meeting_title" placeholder="Titre Reunion">
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-sm-3 col-form-label"> Reunion Adresse </label>
        <div class="col-sm-9">
          <input value="{{survey?.meeting.officeAddress}}" type="text" class="form-control" id="meeting_address" placeholder=" Adresse de Reunion">
        </div>
      </div>
    </div>
  </div>

</div>