<div *ngIf="meeting" class="container-fluid" style="margin-top: 80px">
  <h2 style="text-align:center"> Bienvenue à la réunion <strong> {{ meeting.title }}</strong> </h2>
  <p> Veuillez renseigner vos preferences alimentaires et allergies éventuelles. Veuillez renseigner tous les champs obligatoires. Vous pouvez separer vos preferences et/ou allergies par une virgule.</p>
  <div class="row">
    <div class="col-4">
      <form #f="ngForm">
        <h3> Preferences Alimentaires </h3>

        <div class="form-group">
          <label for="p_name"> Preference <span class="required_spans">*</span> </label>
          <input type="text" class="form-control" id="p_name" name="p_name" placeholder="Enter preference" required
            #prefName="ngModel" [(ngModel)]="preference.name">
          <span *ngIf="prefName.errors?.required && prefName.touched" class="required_spans">
            Champ Requis
          </span>
        </div>

        <div class="form-group">
          <label for="p_description"> Description <span class="required_spans">*</span> </label>
          <input type="text" class="form-control" id="p_description" placeholder="Enter description" required
            #prefDesc="ngModel" [(ngModel)]="preference.description" name="p_description">
          <span *ngIf="prefDesc.errors?.required && prefDesc.touched" class="required_spans">
            Champ Requis
          </span>
        </div>

        <h3> Allergies </h3>

        <div class="form-group">
          <label for="a_name"> Allergies </label>
          <input type="text" class="form-control" id="a_name" placeholder="Enter alergy name" 
            #alName="ngModel" [(ngModel)]="allergy.name" name="a_name">
          <span *ngIf="alName.errors?.required && alName.touched" class="required_spans">
            Champ Requis
          </span>
        </div>

        <button [disabled]="!f.valid" (click)="saveChanges()" type="submit" class="btn btn-info" style="float:right;">Valider</button>

      </form>
    </div>
  </div>
</div>