/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~ngx-toastr/toastr.css';
@import '~font-awesome/css/font-awesome.css';
@import '~pretty-checkbox/dist/pretty-checkbox.min.css';

.required_spans{
    color: red
}

.to_center{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100px;
    border-radius: 3px;
  }