form{
    margin-top: 80px;
}

.required_divs{
    color: red;
}

#card{
    margin-top: 80px;
}

.fa-times{
    color: red;
    cursor: pointer;
    margin-left: 10px;
}

#submit_btn{
    margin-top: 15px;
}