<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <form #f="ngForm" id="form">
        <div class="form-group">
          <label for="name"> Name <span class="required_spans">*</span> </label>
          <input type="text" class="form-control" id="begin" placeholder="Titre indicatif" required #name="ngModel"
            [(ngModel)]="date.name" name="name">
          <div *ngIf="name.errors?.required && name.touched" class="required_divs">Champ requis</div>
        </div>

        <div class="form-group input-group">
          <label for="date"> Date <span class="required_spans">*</span> </label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="date.date" ngbDatepicker
              #d="ngbDatepicker" required>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div *ngIf="!date.date && d.touched" class="required_divs">
            Champ requis</div>
        </div>
      </form>

      <create-time-slot (emitter)="addTimeSlot($event)"></create-time-slot>

    </div>

    <div class="col-6" id="card">
      <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h4 class="card-title">Selection de plages horaires pour la date </h4>
          <h5 class="card-subtitle mb-2 text-muted" *ngIf="date.date"> {{ formatDate() }} </h5>
          <p class="card-text"> Liste des plages horaires selectionnees </p>
          <a *ngFor="let t of date.timeSlots">
            {{t.begin}} - {{t.end}} <i class="fa fa-times" aria-hidden="true" (click)="removeTimeSlot(t)"></i> <br>
          </a>
          <button [disabled]="f.invalid" (click)="saveChanges()" class="btn btn-info" id="submit_btn">Valider</button>
        </div>
      </div>
    </div>
  </div>
</div>
