<form #f="ngForm" id="form2">
  <div class="form-row">
    <div class="form-group col-sm-4">
      <label for="begin"> Debut </label>
      <ngb-timepicker [(ngModel)]="timeSlot.begin" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
      <!--<input type="number" class="form-control" id="begin" placeholder="Debut" required
          #begin="ngModel" [(ngModel)]="timeSlot.begin" name="begin">
        <div *ngIf="begin.errors?.required && begin.touched" class="required_divs">Champ requis</div> -->
    </div>

    <div class="form-group col-4">
      <label for="end"> Fin </label>
      <ngb-timepicker [(ngModel)]="timeSlot.end" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
      <!--<input type="number" class="form-control" id="end" placeholder="Fin" required
          #end="ngModel" [(ngModel)]="timeSlot.end" name="end">
        <div *ngIf="end.errors?.required && end.touched" class="required_divs">
          Champ requis</div>  -->
    </div>
  </div>

  <button [disabled]="f.invalid" (click)="saveChanges()" class="btn btn-info" id="submit_btn">Ajouter</button>

</form>