.row{
    margin-top: 15px;
}

.required_divs{
    color: red;
}

body{
    margin-top: 100px;
    color: red;
}

#form{
    margin-top: 80px;
}

#second_col, #third_col{
    margin-top: 80px;
}

span.badge-pill{
    background-color: green;
    cursor: pointer;
}

.fa-plus{
    margin-left: 15px;
    cursor: pointer;
}

.fa-times{
    color: red;
    cursor: pointer;
}