<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <form #f="ngForm" id="form">

        <div class="form-group">
          <label for="survey_title">Libéllé du sondage <span class="required_spans">*</span> </label>
          <input type="text" class="form-control" id="survey_title" placeholder="Libéllé du sondage" required
            #survey_title="ngModel" [(ngModel)]="survey.surveyName" name="survey_title">
          <div *ngIf="survey_title.errors?.required && survey_title.touched" class="required_divs">Champ requis</div>
        </div>

        <div class="form-group">
          <label for="meeting_title">Libéllé de la reunion <span class="required_spans">*</span></label>
          <input type="text" class="form-control" id="meeting_title" placeholder="Libéllé de la reunion" required
            #meeting_title="ngModel" [(ngModel)]="survey.meetingTitle" name="meeting_title">
          <div *ngIf="meeting_title.errors?.required && meeting_title.touched" class="required_divs">Champ requis</div>
        </div>

        <div class="form-group ">
          <label for="meeting_address">Adresse de la reunion <span class="required_spans">*</span> </label>
          <input type="text" class="form-control" id="meeting_address" placeholder="Adresse de la reunion" required
            #meeting_office_address="ngModel" [(ngModel)]="survey.meetingOfficeAddress" name="meeting_address">
          <div *ngIf="meeting_office_address.errors?.required && meeting_office_address.touched" class="required_divs">
            Champ requis</div>
        </div>

        <div *ngIf="survey.meetingSummary" class="form-group">
          <label for="survey_title">Libéllé du sondage</label>
          <textarea #meetiing_summary="ngModel" [(ngModel)]="survey.meetingSummary" id="meeting_summary"
            class="form-control" rows="3" placeholder="Summary" required name="meeting_summary">
                </textarea>
          <div *ngIf="meetiing_summary.errors?.required && meetiing_summary.touched" class="required_divs">Champ requis
          </div>
        </div>


        <button [disabled]="f.invalid" (click)="saveChanges()" class="btn btn-info" id="submit_btn">Valider</button>

      </form>
    </div>
    <div class="col-4" *ngIf="datesFromServer" id="second_col">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Selection de dates pour le sondage </h4>
          <h5 class="card-subtitle mb-2 text-muted"> {{ survey.surveyName }} </h5>
          <p class="card-text"> Liste dates pouvant etre selectionner </p>
          <a *ngFor="let d of datesFromServer">{{d.name}}
            <span class="badge badge-primary badge-pill" placement="top" ngbPopover="{{ shapeDateTimeSlots(d) }}">
              {{d.timeSlots.length}} </span>
            <i class="fa fa-plus" aria-hidden="true" (click)="addDate(d)"></i>
            <br>
          </a>

        </div>
      </div>

    </div>
    <div class="col-sm-4" id="third_col">
      <div class="card" style="width: 23rem;">
        <div class="card-body">
          <h4 class="card-title">Selection de dates pour le sondage </h4>
          <h5 class="card-subtitle mb-2 text-muted"> {{ survey.surveyName }} </h5>
          <p class="card-text"> Liste dates selectionnees </p>
          <a *ngFor="let d of survey.dates">{{d.name}} <i class="fa fa-times" aria-hidden="true" (click)="removeDate(d)"></i> <br>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
