<ng-container *ngIf="surveyDates">
  <td *ngFor="let d of filterDates()">
    <label for="" id="main_date"> {{ formatDate(d) }} </label>
    <br>
    <div *ngFor="let t of d.timeSlots" class="pretty p-icon p-round p-jelly">
      <ng-container *ngIf="isCheckbox; else radio">
        <input type="checkbox" (change)="sendData($event, t)" />
        <div class="state p-success">
          <i class="icon mdi mdi-check"></i>
          <label> {{ formatTime(t) }} </label>
        </div>
      </ng-container>

      <ng-template #radio>
        <div class="pretty p-icon p-curve p">
          <input type="radio" name="radio66" (change)="sendData($event, t)">
          <div class="state p-primary">
            <i class="icon mdi mdi-check"></i>
            <label> {{ formatTime(t) }} </label>
          </div>
        </div>
      </ng-template>
    </div>
  </td>
</ng-container>