
<table class="table table-hover" id="table">
    <thead>
      <tr>
        <th scope="col">Libelle</th>
        <th scope="col">Date de creation</th>
        <th scope="col">Lien</th>
        <th scope="col">Statut</th>
        <th scope="col">Date confirmee</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of surveys$ | async">
        <th> {{s.name}} </th>
        <td> {{formatDate(s.creationDate)}} - {{formatTime(s.creationTime)}} </td>
        <td> <a routerLink="/{{s.link}}"> Je participe </a> </td>
        <td> {{s.status}} </td>
        <td> {{formatMeetingDate(s.meeting.date, s.meeting.timeSlot)}} </td>
        <td>
          <a [routerLink]="[s.id, 'details']">View | </a>
          <a *ngIf="isAdmin" [routerLink]="[s.id, 'update']">Update | </a>
          <a *ngIf="s.status != 'VALIDATED'" [routerLink]="[s.id, 'participate']">Participer</a>
        </td>
      </tr>
    </tbody>
  </table>

  <router-outlet></router-outlet>
