a{
    color: black;
    text-decoration: none;
}  

.block {
    height: 120px;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}
.footer{
    height: 70px;
    position: relative;
    background-color:#D81B60;
}
label{
    cursor: pointer;
}
.lay_created_surveys{
    background-color: #E53935;
}
.lay_user{
    background-color: #6E88A3;
}
.lay_participations{
    background-color:#00796B;
}
.lay_attended_meetings{
    background-color:#1E88E5;
}
.lay_missed_meetings{
    background-color:#8E24AA;
}
.lay_dsh{
    background-color:#D81B60;
}
.lay_all_surveys{
    background-color:#D81B60;
}


.panel-body {
     background-color: #283440;
}

.lay_left_menu_texts {
    padding-left:7px;
    font-size: 20px;
}

.badge {
    float: right;
    background-color: green;
}

.dsh_img {
    width: 55px;
    height: 55px;
    padding-top: 15px;
}

a.dsh_a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 18px;
}

.categoryPartialLinks_div{
    background-color: #E53935;
}

.category_par{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 18px;
}

.userPartialLinks_div{
    background-color:#D81B60;
}

.user_par{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 18px;
}

.questionPartialLinks_div{
    background-color:#00796B;
}

.question_par{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 18px;

}

#logoutForm a{
    text-decoration:none;
    color: black;
    margin-left:20px;
}

