<bs-navbar></bs-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <left-nav></left-nav>
        </div>
        <div class="col-9" style="margin-top:80px;">
            <div class="row">
                <div class="col-sm-3" *ngFor="let e of elements" (click)="goTo(e.name)">
                    <div class="{{e.classColor}}">
                        <div class="block">
                            <span *ngIf="e.badge" class="badge"> {{ e.badge }}</span>
                            <a routerLink="{{e.link}}"> {{ e.text }} </a> <br />
                            <i class="{{e.iClass}}" aria-hidden="true" style=" font-size:65px; padding-top: 3px;"
                                [style.color]="e.iColor">
                            </i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>