<table class="table table-hover" id="table">
  <thead>
    <tr>
      <th scope="col"> Debut</th>
      <th scope="col"> Fin</th>
      <th scope="col"> Score</th>
      <th scope="col"> Statut</th>
      <th scope="col"> Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of timeSlots">
      <th> {{ formatTime(t.begin) }} </th>
      <td> {{ formatTime(t.end) }} </td>
      <td> {{ t.score }} </td>
      <td> {{ formatStatus(t.active) }} </td>
      <td *ngIf="t.active">
        <a  [routerLink]="[t.id, 'update']"> Update | </a>
        <a  class="btn btn-danger" (click)="deleteTimeSlot(t.id)"> Delete </a>
      </td>
      <td *ngIf="!t.active">
        <a> No action available </a>
      </td>
    </tr>
  </tbody>
</table>